<launch>
    <!-- 1. ОБЪЯВЛЯЕМ АРГУМЕНТ -->
    <arg name="topic_name" default="new_topic"/>
    
    <group ns="new_ns">
        <!-- 2. ПРОБРАСЫВАЕМ АРГУМЕНТ В ДРУГОЙ LAUNCH-ФАЙЛ -->
        <include file="$(find super_katy_studo_pkg)/launch/another_one.launch">
            <arg name="topic_name" value="$(arg topic_name)"/>
        </include>
        
        <!-- 3. ИСПОЛЬЗУЕМ АРГУМЕНТ В ТЭГАХ REMAP -->
        <node name="listener" pkg="rospy_tutorials" type="listener.py" output="screen">
            <remap from="chatter" to="$(arg topic_name)"/>
        </node>
        <node name="talker" pkg="rospy_tutorials" type="talker.py" output="screen">
            <remap from="chatter" to="$(arg topic_name)"/>
        </node>
    </group>
</launch>
