<launch>
  <arg name="gazebo_gui" default="false" doc="Enable/disable Gazebo GUI"/>
  
  <include file="$(find super_robot_package)/launch/turtlebot3_world.launch">
    <arg name="x_pos" value="-2.0"/>
    <arg name="y_pos" value="-0.5"/>
    <arg name="z_pos" value="0.0"/>
    <arg name="model" value="waffle"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>
  
  <include file="$(find super_robot_package)/launch/turtlebot3_tf.launch" />
  <include file="$(find super_robot_package)/launch/turtlebot3_slam.launch" />
</launch>
